html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #111;
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin: 0;
}

p {
	line-height: 1.9em;
}

.title
{
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title h2
{
	letter-spacing: 0.20em;
	font-weight: 700;
	font-size: 2em;
	color: #00AABB;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #6F6F6F;
}

a:hover {
	text-decoration: none;
}

.navbar{
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
}

.navbar .nav li {
    display: inline-block;
    float: none;
    min-width: 6em;
}

.nav-item {
	font-weight: 400;
	letter-spacing: 0.20em;
}

.navbar .nav {
    float: none;
    text-align: center;
}

.navbar .nav a:hover {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3OWEzNSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QyNmUxZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(247,154,53,0.8) 0%, rgba(210,110,31,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,154,53,0.8)), color-stop(100%,rgba(210,110,31,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,154,53,0.8) 0%,rgba(210,110,31,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,154,53,0.8) 0%,rgba(210,110,31,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,154,53,0.8) 0%,rgba(210,110,31,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,154,53,0.8) 0%,rgba(210,110,31,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf79a35', endColorstr='#ccd26e1f',GradientType=0 ); /* IE6-8 */
}

#copyright {
	text-align: center;
	color: #888;
	margin: 1em auto 3em;
}

#wrapper {
	background-color: #FFFAED;
}

.container {
	margin: 0 auto;
}

#header 
{
	background: #111;
	position: relative;
	text-align: center;
	color: #FFF;
	padding: 1.2em 0em;
	text-transform: uppercase;
}

#header h1
{
	font-size: 2.6em;
	letter-spacing: 0.20em;
}

#header p 
{
	letter-spacing: 0.15em;
}

#page
{
	position: relative;
	padding: 0em 1em 5em;
}