{% extends "base.twig" %}
{% block content %}
	<div class="title">
		<h2>About</h2>
		<!-- <span class="byline">Who am I?</span>  -->
	</div>
	<!-- <p>Hi, and thanks for visiting.</p> -->
	<p>My name is Jamie Holdstock and I am a software developer based in West London. This is my personal website.</p>
	
	<p>I don't really affiliate with any particular language or technology, but most of my experience lies with writing Windows applications and services using object oriented languages. To find out more, check out <a href="/cv">my CV</a>. There you'll find a list of most of the technologies I have experience with.

	<p>When I'm not programming I can usually be found in the gym lifting weights or at the local snooker club.</p>

	<p>Feel free to get in touch via one of the links in <a href="/cv">the Contact section</a></p>

	<p>Thanks for visiting</p>

{% endblock %}