{% extends "base.twig" %}
{% block content %}

	<div id="content">
		<div class="title">
			<h2>About</h2>
			<span class="byline">Lorem ipsum dolor sit amet</span> 
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non nisl vitae lorem lobortis tempor. Suspendisse potenti. Donec mattis quam eu mauris placerat feugiat. Vivamus porttitor consequat nibh, nec mollis ligula ullamcorper vel. Aenean quam libero, blandit sit amet vulputate non, aliquet a arcu. Sed et lorem vulputate, mattis risus consequat, lacinia leo. Phasellus et tempus justo, sed tincidunt justo. Aenean lacinia justo vel sollicitudin pellentesque. Maecenas tristique hendrerit ullamcorper. Pellentesque erat risus, rutrum eget ultricies at, aliquam sed tortor. Vestibulum pulvinar leo eu nibh ornare, sed varius dolor ornare.</p>
		<p>Morbi luctus eu arcu at sodales. Quisque vestibulum ultricies hendrerit. Fusce gravida massa sed sodales laoreet. Fusce convallis faucibus aliquet. Ut vel nunc dapibus, aliquet nunc eget, consequat metus. Maecenas posuere quam id ante iaculis, eget vulputate orci rhoncus. Aenean rutrum mauris aliquet, condimentum dolor id, adipiscing lacus. Curabitur sit amet facilisis urna. Donec rutrum, tellus non dignissim semper, felis urna viverra nisl, eu pulvinar sem massa sit amet risus. Sed venenatis augue et est aliquet condimentum. </p>
	</div>

	<div id="sideMenu">
		<ul>
			<li><a href="#">Menu item 1</a></li>
			<li><a href="#">Menu item 2</a></li>
			<li><a href="#">Menu item 3</a></li>
			<li><a href="#">Menu item 4</a></li>
			<li><a href="#">Menu item 5</a></li>
		</ul>
	</div>
	
{% endblock %}