{% extends "base.twig" %}
{% block content %}

	<div id="content">
		<div class="title">
			<h2>Contact</h2>
		</div>
		<a href="http://uk.linkedin.com/in/jamieholdstock"><img src="/img/li.png" width="50px" height="50px"/></a>
		<a href="http://stackoverflow.com/users/1428338/jamie-holdstock"><img src="/img/so.png" width="50px" height="50px"/></a>
		<a href="https://github.com/jholdstock"><img src="/img/gh.png" width="50px" height="50px"/></a>
	</div>
	
{% endblock %}