{% extends "base.twig" %}
{% block content %}
	<div class="title">
		<h2>Ham Baguette</h2>
	</div>
	<div class="image-container">
		<img src="img/hb.png" />
		<img src="img/hb1.png" />
	</div>
{% endblock %}