{% extends "base.twig" %}
{% block content %}
	<div class="title">
		<h2>Ham Baguette</h2>
	</div>
	<div class="image-container">
		<img src="img/hb.png" />
		<img src="img/hb1.png" />
	</div>
	<br/>
	<p>Ham Baguette is a game I made during my first year of university (2007).</p>
	<p>If you would like to play Ham Baguette, an executable version can be downloaded by clicking <a href="">here</a>. You will need to have Java installed on your computer, and it's only been tested on Windows.</p>
	<p>Ham Baguette is written in Java. You can see the source code <a href="">here</a>.
{% endblock %}